footer {
    background-color: #e9a209;

}
#footer_itens {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24PX 8%;
    align-items: center;

}

#copyright {
    color: #000;
    font-weight: 500;
}

#coracao {
    color: rgb(189, 0,0);

}
@media (max-width: 600px) {
    #footer_itens {
        flex-direction: column;
        gap: 20px;
    }
}